<div class="slider-wrapper">
  <div class="slider">
    {{#each featuredMovies}}
      <div class="slide-item">
        <img src="{{this.imageUrl}}" alt="{{this.title}}" id="slide-{{@index}}" />
        <div class="slide-description">
          <h3>Overview</h3>
          <p>{{this.description}}</p>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="slider-nav">
    {{#each featuredMovies}}
      <a href="#slide-{{@index}}"></a>
    {{/each}}
  </div>
</div>